/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Bui Hoang Quynh Chi
ID: s3978316
Acknowledgement:*/

.column {
    margin-left: 105px;
    margin-right: 105px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .column {
        margin-left: 29px;
        margin-right: 29px;
    }
}

@media screen and (max-width: 991px) {
    .column  {
        margin-left: 52px;
        margin-right: 52px;
    }
}

/* Heading Styles */
.heading {
    text-align: center;
    font-family: Gt super display, sans-serif;
    font-size: 50px;
    color: #30047c;
}

/* About Content Styles */
.about-detail {
    margin-top: 29px;
    margin-bottom: 10px;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 1em;
}

@media screen and (min-width: 992px) {
    .about-detail {
    font-size: 1.2em;
    }
}

/* Embedded video styles */
.video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}