/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Bui Hoang Quynh Chi
ID: s3978316
Acknowledgement:
Katherine Kato, Product, Codepen.io, accessed 6 August 2023. https://codepen.io/kathykato/pen/gdvjax
*/

html {
    line-height: 1.5;
}

/* Container Styles */
.container {
    margin: auto;
    padding: 0 1rem;
    max-width: 75rem;
    width: 100%;
}
.grid {
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    flex-flow: row wrap;
}

.grid.second-nav > [class*="column-"] {
    margin: 0.5rem 1rem;
}

@media (min-width: 768px) {
    .grid.second-nav > [class*="column-"] {
        margin: 1rem 0rem;
    }
}

/* Breadcrumb Styles */
.breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
}

.breadcrumb-list li {
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.breadcrumb-item {
    color: #30047c;
}

.breadcrumb-item.active {
    color: #333;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '/';
    display: inline-block;
    padding: 0 0.5rem;
    color: #d5d5d5;
}

/* Image Styles */
.grid.product {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    /* grid-gap: 1rem;
    gap: 1rem; */
}

.product-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-gallery {
    flex-flow: row wrap;
}
@media (min-width: 992px) {
    .grid.product {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0;
        padding-right: 0;
    }
}

.image-list {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    list-style: none;
    padding: 0;
    width: 100%;
}

.image-list li {
    flex-basis: 100%;
    margin: 0.75rem  0.75rem 0 0;
}

.image-list img {
    height: 10rem;
    width: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.image-list img:hover {
    opacity: 0.7;
}

.image-list li:nth-child(3) {
    margin-right: 0;
}

@media (min-width: 992px) {
    .product-image img, 
    .image-list img {
        width: 100%;
    }

    .product-image {
        display: inline-flex;
        margin: 0;
        flex-direction: row;
    }

    .product-image img {
        height: auto;
    }

    .product-image img.active {
        display: flex;
    }

    .image-list {
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 0;
        margin-left: 15%;
    }

    .image-list img {
        height: 12rem;
    }

    .image-list li:nth-child(1) {
        margin-top: 0;
        margin-right: 0;
    }

    .image-list li:nth-child(2) {
        margin-right: 0;
    }
}

@keyframes fadeImg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Add to Cart Button Styles */
.add-to-cart {
    position: relative;
    display: inline-block;
    background: #30047c;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 1.25rem 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateZ(0);
    transition: color 0.3s ease;
    letter-spacing: 0.0625rem;
}

.add-to-cart:hover::before {
    transform: scaleX(1);
}

.add-to-cart::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #573ba3;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
}

@media (min-width: 992px) {
    .column-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
        grid-column-start: span 6;
        grid-column-end: span 6;
    }

    .column-lg-8 {
        grid-column-start: span 8;
        grid-column-end: span 8;
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .column-lg-2 {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%;
        grid-column-start: span 2;
        grid-column-end: span 2;
    }

    .column-lg-4 {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%;
        grid-column-start: span 4;
        grid-column-end: span 4;
        margin-top: auto;
        margin-bottom: auto
    }

    .column-lg-4 h2 {
        font-size: 2rem;
    }

    .book-name {
        font-size: 2em;
    }

    .description {
        font-size: 1.2em;
    }
}

.container .grid.product .product-gallery {
    display: flex;
    justify-content: start;
    text-align: start;
    position: relative;
}