/* General styles */
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: IBM Plex Sans, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  
  img {
    height: auto;
    max-width: 100%;
    display: inline;
    border-style: none;
    vertical-align: middle;
}

ul {
  margin-bottom: 1rem;
  margin-top: 0;
}

li {
  list-style: none;
}

a {
  color: black;
}

#header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #fff;
  padding-top: 1rem;
}

@media screen and (max-width: 991px) {
  #header {
    padding-top: 0.75rem;
  } 
}

  /* Column styles */
  .columns {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding-left: 8px !important;
    padding-right: 8px !important;
    margin: 0;
    position: relative !important;
    margin-bottom: 0.75rem;
  }
  
@media screen and (min-width: 768px) {
  .columns {
    display: flex;
    margin-bottom: 0;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}

  .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1rem;
  }
  
  /* Header logo styles */
  .header-logo {
    display: flex;
    overflow: hidden;
    align-items: center;
    order: 1;
  }
  
  .branding {
    display: inline-flex;
    padding-top: 4px;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
  }
  
  .branding img {
    width: 8rem;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: inline;
  }
  
  @media screen and (max-width: 767px) {
  .header .header-search {
    flex-basis: 100%;
    align-items: center;
    order: 5;
  }
}

@media screen and (max-width: 767px) {
  .header .column{
    padding: 0.125rem 0.75rem;
  }
}

.header-search {
  display: flex !important;
  order: 2;
  padding-top: 24px;
}

.header-actions {
  order: 3;
}
  .navbar-burger {
    color: #573ba3 !important;
    cursor: pointer;
    display: block;
    margin-left: auto;
    height: 3.25rem;
    position: relative;
    width: 1.5rem;
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: 768px){
    .navbar-burger {
      display: none;
    }
  }
  
  .navbar-burger span {
    background-color: currentColor;
    display: block;
    height: 2px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color,opacity,transform;
    transition-timing-function: ease-out;
    width: 20px;
  }

  .navbar-burger span:nth-child(1) {
    top: calc(50% - 6px);
}
  
.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.header-actions nav div {
  text-align: center;
}
  
  .button {
    font-weight: 600;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .2px;
    padding: 20px 25px 21px;
    border: none;
    border-radius: 30px;
    position: relative;
    flex: 1;
    min-width: 0;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    justify-content: center;
    user-select: none;
    -webkit-appearance: none;
    align-items: center;
    box-shadow: none;
    display: inline-flex;
    height: 2.5em;
    line-height: 1.5;
    vertical-align: top;
    -webkit-user-select: none;
  }


  /* Search container styles */
form {
  min-width: auto;
  display: block;
  margin-top: 0em;
}

  .search-container {
    margin-left: 16px;
    display: flex;
    flex: 1;
    max-width: none !important;
    align-self: center;
    justify-content: flex-start;
    min-width: auto !important;
  }

  @media screen and (min-width: 768px) {
  .search-container {
    position: relative;
  }
}

.control {
  margin-bottom: 0;
  position: relative;
  text-align: inherit;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
}

.control:not(:last-child) {
  margin-right: -1px;
}

  /* Input field styles */
  .search-input {
    width: 100%;
    border-radius: 60px !important;
    font-size: 1rem;
    max-width: 100%;
    background-color: #f6f5f7;
    border: none;
    padding-right: 40px !important;
    padding-left: 16px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #2c293b;
    border-color: #cecdd1 !important;
    box-shadow: none;
    -webkit-appearance: none;
    align-items: center;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    display: inline-flex;
    position: relative;
    vertical-align: top;
  }

  .search-container .button-control {
    position: absolute;
    width: 40px;
    right: 16px;
    z-index: 4;
  }
  
  @media screen and (min-width: 768px) {
  .search-container .button-control {
    right: -4px !important;
  }
}

  /* Button styles */
.search-container .search-button {
    background-color: #f6f5f7 !important;
    border: none !important;
    padding: 12px 12px 12px 8px;
    cursor: pointer;
    border-radius: unset !important;
    border-bottom-right-radius: 60px !important;
    border-top-right-radius: 60px !important;
    text-align: center;
    white-space: nowrap;
    color: #573ba3;
    outline: none;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
  }
  
  /* Search results container styles */
  .search-results {
    display: none;
    margin-top: 0.75rem;
    border-style: solid;
    border-width: 1px;
    border-color: #cecdd1 !important;
    padding: 0;
    padding-bottom: 12px;
    margin-top: 12px;
    outline-color: #f5f5f5;
    position: absolute;
    z-index: 50;
    left: 0.75rem;
    right: 0.75rem;
    top: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.5em 1em -0.125em #0a0a0a1a, 0 0 0 1px #0a0a0a05;
    color: #2c293b;
  }
  
  .search-results hr{
    margin-bottom: 12px !important;
    margin-top: 0 !important;
    height: 1px !important;
    background-color: #eae9ed;
    border: none;
    display: block;
    margin: 1.5rem 0;
    padding: 0;
  }
  
  @media screen and (min-width: 768px) {
  .search-container .search-results {
    right: -40px;
    left: -40px;
  }
}

  form :first-child {
    flex-grow: 2;
  }

  /* Level styles */
  .level {
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

.search-results .level {
  font-size: 0.875rem !important;
  letter-spacing: -.02rem;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

  .level-left, .level-right {
    align-items: center;
    justify-content: flex-start;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
  }
  
.level-left .level-item {
  max-width: 100%;
}

.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  font-family: IBM Plex Sans;
  font-weight: 600;
}

.level.is-mobile .level-item {
  flex-grow: 1;
}

.level.is-mobile .level-item:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0.75rem;
}

.account {
  font-weight: 600;
  text-align: center !important;
}

.header-actions a {
  margin-left: 12px;
}

@media screen and (max-width: 991px) {
  .header .header-actions a {
    margin-left: 4px;
  }
}

.header a {
  color: #2c293b;
}

a {
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .level-left .level-item:not(:last-child), .level-right .level-item:not(:last-child) {
    margin-right: 0.75rem;
  }
}

.level img {
  display: inline-block;
  vertical-align: top;
}
  
  .loading {
    display: none;
  }

  .link {
    color: #573ba3;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
    color: #828087 !important;
    text-align: right !important;
    font-size: .875rem;
  }

/* Styles for the is-hidden-touch-custom class */
@media screen and (max-width: 991px) {
  .is-hidden-touch {
    display: none;
  }
}

/* Styles for the cart-link-custom class */
.cart-link {
  position: relative;
  margin-right: 8px;
  padding-top: 2px;
}

.level .is-mobile {
    display: flex;
}

.sub-header {
  border-top: 1px solid #eae9ed;
  border-bottom: 1px solid #eae9ed;
}

.sub-header.navbar-item {
  padding: 0;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  position: unset;
  display: block;
}

/* Styles for the header-actions class */
.header-actions {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 1rem !important;
}

@media screen and (min-width: 768px) {
  .navbar-item {
    align-items: stretch;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header.header-actions {
    flex: none;
    width: unset;
    order: 2;
  }
}

.is-mobile .level-item {
  text-align: center !important;
 }

.cart-link {
  position: relative;
  margin-right: 8px;
}

footer {
  border-top: 1px solid rgba(0,0,0,.1);
  background: rgb(252 252 252);
  display: block;
  margin-top: 5px;
  padding-top: 3rem;
  padding-bottom: .25rem;
}

footer .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 950px;
  }
}

footer .col-sm-3, .col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
.col-sm-3 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

  footer .col-sm-3:nth-child(1), footer .col-sm-3:nth-child(3) {
      border-right: none
  }

  footer .col-sm-3:nth-child(2), footer .col-sm-3:nth-child(4) {
      margin-left: 0
  }

  footer .col-sm-3:nth-child(1), footer .col-sm-3:nth-child(2) {
      border-bottom: none
  }

footer li {
  display: inline-block;
}

footer li a {
    text-decoration: none;
    font-size: 1rem;
}

footer a {
  color: black
}

footer .col-sm-3:not(:last-child) li {
  line-height: 1.375;
  margin-top: 0.25rem;
}
footer a:hover {
  color: #1d1d1d !important;
  font-weight: bold
}

footer h4 {
  font-size: 18px;
  color: #573ba3;
  font-weight: 700;
  font-style: italic;
  width: 140px;
  margin: auto;
  text-align: left;
  line-height: 1.2;
}

.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

footer .list-unstyled {
  width: 140px;
  margin: auto;
  text-align: left;
  margin-bottom: 20px;
  display: block;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.list-inline-item {
  display: inline-block;
}

.copyrighttext {
    color: #59595a !important;
    font-size: 14px;
    margin-bottom: 1rem;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    footer .container {
        flex-direction: column;
    }

    footer .col-sm-3 {
        flex: 100%;
    }
}

footer .icons img {
    height: 32px;
    width: 32px;
}

footer .icons {
  margin-top: 15px;
}

footer:last-child {
  padding-left: 0;
  list-style: none;
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container div:first-child {
  text-align: center;
}

@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-sm-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}

@media only screen and (min-width:992px) and (max-width:1260px) {
  .container {
      max-width: 94%
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
.container {
      width: 100% !important;
      max-width: inherit !important
  }
}

.tabs {
  -webkit-overflow-scrolling: touch;
  align-items: stretch;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
}

.sub-header .tabs {
  justify-content: center !important;
}

.sub-header .tabs ul {
  border-bottom: none;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  min-height: unset;
  display: flex;
  flex-grow: 0 !important;
  align-items: center;
  flex-shrink: 0;
}

.navbar {
  background-color: #fff;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .navbar-item {
  line-height: 1.375;
  border-bottom: solid 2px transparent;
  padding-bottom: 13px !important;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;
}

.navbar .navbar-item:hover {
  border-bottom: solid 2px #573ba3;
}
@media screen and (min-width: 768px) {
  .navbar {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
  }
}

@media screen and (max-width: 767px) {
  .sub-header {
    display: none;
  }
  
  .search-container {
    min-width: auto;
  }
}

main {
  display: flex;
  flex-direction: column;
}

#nbs-pay-imgs img{
  padding: 1%;
  display: inline-flex;
  width: 30%;
  color: transparent;
  text-shadow: none;
  text-align: center;
  white-space: nowrap;
  line-height: 100%;
}

@media screen and (min-width: 769px) {
  #nbs-pay-imgs img{
    width: 40%;
    flex-direction: row;
  }
}

.toggle-menu nav {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 100%;
  overflow: hidden;
  background: white;
  transition: 0.3s ease;
}

.toggle-menu nav > div label {
  margin-left: 1.5rem;
  width: 1.5rem;
  height: 3.25rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.toggle-menu nav label span, .toggle-menu nav label span::before, .toggle-menu nav label span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 1.5rem;
  background: #573ba3;
}

.toggle-menu nav > ul {
  margin-top: 30px;
  padding: 0;
}

.toggle-menu nav > ul li {
	cursor: pointer;
	padding: 10px 0;
	transform: translateX(-30px);
	opacity: 0;
	transition: 0.4s ease;
}

.toggle-menu nav > ul li:hover {
	animation: hover 0.5s;
}

@keyframes hover {
	50% {
		transform: translateX(10px);
	}
}

.toggle-menu nav > ul li a {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
  display: block;
  text-transform: uppercase;
  margin-left: 1.5rem;
}

.toggle-menu input[type=checkbox] {
  display: none;
}

.toggle-menu input[type="checkbox"]:checked ~ label {
	opacity: 0;
	pointer-events: none;
}

.toggle-menu input[type="checkbox"]:checked ~ nav {
	left: 0;
}

.toggle-menu input[type="checkbox"]:checked ~ nav label span {
	background: transparent;
}

.toggle-menu input[type=checkbox]:checked ~ nav label span:before {
  transform: rotate(-45deg);
}

.toggle-menu input[type=checkbox]:checked ~ nav label span:after {
  transform: rotate(45deg);
}

.toggle-menu input[type=checkbox]:checked ~ nav label span:before, .toggle-menu nav input[type=checkbox]:checked ~ nav label span:after {
  transition-delay: 0.2s;
}

.toggle-menu input[type="checkbox"]:checked ~ nav ul li {
	opacity: 1;
	transform: translateX(0px);
}

.toggle-menu input[type=checkbox]:checked ~ nav ul li:nth-child(1) {
  transition-delay: 0.1s;
}

.toggle-menu input[type=checkbox]:checked ~ nav ul li:nth-child(2) {
  transition-delay: 0.2s;
}

.toggle-menu input[type=checkbox]:checked ~ nav ul li:nth-child(3) {
  transition-delay: 0.3s;
}

.toggle-menu input[type=checkbox]:checked ~ nav ul li:nth-child(4) {
  transition-delay: 0.4s;
}

.toggle-menu input[type=checkbox]:checked ~ nav ul li:nth-child(5) {
  transition-delay: 0.5s;
}

.toggle-menu input[type=checkbox]:checked ~ nav ul li:nth-child(6) {
  transition-delay: 0.6s;
}

.toggle-menu input[type=checkbox]:checked ~ nav ul li:nth-child(7) {
  transition-delay: 0.7s;
}

.toggle-menu input[type=checkbox]:checked ~ nav ul li:nth-child(8) {
  transition-delay: 0.8s;
}

.toggle-menu .toggle-open {
  transition: 0.3s ease;
  z-index: 9999;
}

.toggle-menu nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-menu li {
  border-bottom: 1px solid #eae9ed;
}

.items {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
}

.cover {
  scroll-snap-align: start
}