/* List Container Styles */
#lists-container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
    row-gap: 3rem;
    grid-column-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 4rem;
    display: grid;
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    #lists-container {
      max-width: 725px;
    }
  }

  @media (min-width: 992px) {
    #lists-container {
      grid-row-gap: 4rem;
      row-gap: 4rem;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 6rem;
      column-gap: 6rem;
    }
  }
  
  .section {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 1rem;
    grid-column: span 2 / span 2;
  }
  
  @media (min-width: 768px) {
    .section {
      padding-left: 0;
      padding-right: 0;
      grid-column: span 3 / span 3;
    }
  }
  
  /* Book title Styles */
  .booklist-title {
    font-weight: 700;
    font-family: GT super display, sans-serif;
    color: #30047c;
    letter-spacing: -0.6px;
    line-height: 30px;
    overflow-wrap: break-word;
    text-align: left;
    overflow: hidden;
    font-size: 20px;
    flex: 1 1 0%;
    text-transform: uppercase;
  }
  
  @media (min-width: 992px) {
    .booklist-title {
      line-height: 37px;
      font-size: 28px;
    }
  }
  
  /* View All Styles */
  .view {
    align-items: flex-start;
    justify-content: end;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    flex-wrap: wrap;
    display: flex;
  }
  
  @media (min-width: 768px) {
    .view {
      align-items: center;
    }
  }

  /* Buttons Styles */
  a.button {
    font-family: IBM Plex Sans , sans-serif;
    font-weight: 600;
    border-radius: 9999px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 1px 1px 5px 0px rgba(67,0,17,0);
    font-size: var(--button-font-size);
    outline: none;
    padding: var(--button-padding);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
  }
  
  a.button.callout-button {
    padding-left: 0;
    padding-right: 0;
    margin-right: 1rem;
    text-transform: initial;
    text-align: initial;
    text-decoration: underline;
    text-decoration-color: #7f48d9;
    font-weight: 100;
    text-underline-position: under;
    font-size: 1rem;
    width: 100%;
    margin-top: 0.5rem;
    display: none;
  }
  
  @media (min-width: 992px) {
    a.button.callout-button {
      width: auto;
      margin-top: 0;
      display: flex;
      margin-left: 100%;
    }
  }
  
  .linear-product-listing {
    position: relative;
  }
  
  .items {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
  }
  
  .cover {
    scroll-snap-align: start;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /* Images Styles */
  .product-image {
    display: block;
    border-radius: 3px;
    position: relative;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
    background-color: #fff4;
    border-radius: 3px;
    object-fit: contain;
    max-width: none;
    height: 13rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 992px) {
    .product-image>img {
      height: 16rem;
    }
  }
  
  @media (min-width: 768px) {
    .cover {
      margin-right: 5rem;
    }
  }
  
  .product-image:after {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0666667) 4%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(0,0,0,0.0666667) 96%, rgba(0,0,0,0.2) 100%);
    content: '';
    border-radius: 3px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 20;
  }
  
  /* Previous Button Styles */
  .prev {
    top: 35%;
    --transform-translate-x: -1.5rem;
    --transform-translate-y: -50%;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    z-index: 40;
    left: 0;
    position: absolute;
    outline: 0;
    display: none;
    cursor: pointer;
  }
  
    /* Next Button Styles */
  .next {
    top: 35%;
    --transform-translate-x: 1.5rem;
    --transform-translate-y: -50%;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    z-index: 40;
    right: 0;
    position: absolute;
    outline: 0;
    display: none;
    cursor: pointer;
  }

  .col-span-2:last-child .prev,  .col-span-2:last-child .next{
    top: 30%;
  }

  @media (min-width: 768px) {
    .prev, .next {
      display: block;
    }
  }

  .linear-product-listing .cover p {
    font-size: 0.875rem !important;
    letter-spacing: -.02rem;
  }

  .linear-product-listing .cover h3 {
    margin-bottom: 0;
  }

  .linear-product-listing h3, .linear-product-listing p {
    color: #333;
  }

  #wrapper {
    margin-top: 2rem;
  }