/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Bui Hoang Quynh Chi
ID: s3978316
Acknowledgement: */

/* Media query for cover class */
@media (min-width: 768px) {
    .cover {
      margin-right: auto;
      margin-left: auto;
    }
  }